<!DOCTYPE HTML>
<html>
  <head>
    <link rel = "stylesheet" href = "./css/style.css">
    <script src ="./js/app.js"></script>
    <title>
      Sample Express Web Server
    </title>
  </head>
  <body>
      {{>header}}
    <p>
     <h2> Hi {{title}} about page is working</h2>
    </p>
  </body>
</html>